language: ruby
rvm:
  - 2.0.0-p247
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - rbx-3
notifications:
  email:
    recipients:
    - ci.report@ost.com
    on_success: always
    on_failure: always
branches:
  only:
  - master
  - develop
script:
  - ruby lib/ost-kyc-sdk-ruby/test/user_test.rb
  - ruby lib/ost-kyc-sdk-ruby/test/user_kyc_test.rb
  - ruby lib/ost-kyc-sdk-ruby/test/user_kyc_detail_test.rb
  - ruby lib/ost-kyc-sdk-ruby/test/validators_test.rb
  - ruby lib/ost-kyc-sdk-ruby/test/signature_generation_test.rb